/* main.css */
@import url('reset.css');
@import url('variables.css');
@import url('typography.css');
@import url('utilities.css');

/* Gloval Layout */
@import url('layout.css');

/* Components */
@import url('components/grid.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');
@import url('components/navigation.css');
@import url('components/footer.css');

/* Pages */
@import url('pages/home.css');
@import url('pages/catalog.css');
@import url('pages/item.css');
@import url('pages/contact.css');
@import url('pages/about.css');
@import url('pages/docs.css');
